<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.abondar.experimental.wsboard.server.mapper.SprintMapper">

    <cache type="org.mybatis.caches.ehcache.EhcacheCache">
        <property name="timeToIdleSeconds" value="500"/>
        <property name="timeToLiveSeconds" value="500"/>
        <property name="maxEntriesLocalHeap" value="1000"/>
        <property name="maxEntriesLocalDisk" value="10000"/>
        <property name="memoryStoreEvictionPolicy" value="LRU"/>
    </cache>

    <resultMap id="sprintMap" type="org.abondar.experimental.wsboard.server.datamodel.Sprint">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="start_date" property="startDate"/>
        <result column="end_date" property="endDate"/>
        <result column="project_id" property="projectId"/>
        <result column="is_current" property="isCurrent"/>

    </resultMap>

    <insert id="insertSprint" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO sprint (name, start_date, end_date, project_id)
        VALUES (#{sprint.name},
                #{sprint.startDate},
                #{sprint.endDate},
                #{sprint.projectId})
            ON CONFLICT (id) DO NOTHING;
    </insert>

    <update id="updateSprint">
        UPDATE sprint
        SET name       = #{sprint.name},
            start_date = #{sprint.startDate},
            end_date   = #{sprint.endDate},
            is_current = #{sprint.isCurrent}
        WHERE id = #{sprint.id}
    </update>

    <select id="countSprints" resultType="integer" useCache="true">
        SELECT count(id)
        FROM sprint
        WHERE project_id = #{prjId};
    </select>


    <select id="getSprintById" resultMap="sprintMap">
        SELECT *
        FROM sprint
        WHERE id = #{id}
    </select>

    <select id="getSprintByName" resultMap="sprintMap">
        SELECT *
        FROM sprint
        WHERE name = #{name}
    </select>

    <select id="getCurrentSprint" resultMap="sprintMap">
        SELECT *
        FROM sprint
        WHERE project_id = #{prId}
          AND is_current = true;
    </select>

    <select id="getSprints" resultMap="sprintMap" useCache="true">
        SELECT *
        FROM sprint
        WHERE project_id = #{projectId}
        OFFSET #{offset}
            LIMIT #{limit}
    </select>

    <delete id="deleteProjectSprints">
        DELETE
        FROM sprint
        WHERE project_id = #{projectId}
    </delete>

    <delete id="deleteSprint">
        DELETE
        FROM sprint
        WHERE id = #{id}
    </delete>
</mapper>
